body{
  background-color: #111111;
}
.comment{
  color: white;
  margin: 30px auto;
  border-radius: 10px;
}
.comment h4{
  font-size: 1.3rem;
}
.comment h3{
  font-size: 1.3rem;
}
.comment p{
  cursor: pointer;
  color: rgb(255, 0, 0);

}
.card{
  margin: 50px auto;
  width: 560px;
  border-radius: 5px;
  overflow-x: hidden;
  padding-left: 3rem;
  background-color: rgb(35, 35, 35);
  
}
.sp{
  cursor: pointer;
  position: relative;
  left: -30px;
  top: 50px;
  font-size: 1.5rem;
  color: rgb(234, 0, 255);
}